
.containerFicheProduit{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.containerProduitFiltre{
    display: flex;
    gap: 32px;

}

.containerFiltre{
    flex: 1;

}

.containerProduit{
    flex: 3;
}

.gridProduit{
    display: grid;
    grid-template-columns: repeat(4, minmax(170px, 300px));
    gap : 24px;
    width: fit-content;
    margin: auto;
}

.containerCardSAlle{
    display : flex;
    flex-direction: column;
    gap: 12px;
}

.containerCardSAlle h3{
    padding: 0;
}

.containerImage img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}


.titrePrix{
    display: flex;
    justify-content: space-between;
}

@media(max-width : 1200px){
    .containerProduitFiltre{
        flex-direction: column;
    }
}

@media(max-width : 900px){
    .gridProduit{
        grid-template-columns: repeat(3, minmax(170px, 300px));;
    }
}

@media(max-width : 576px){
    .gridProduit{
        grid-template-columns: repeat(2, minmax(0px, 300px));
        gap: 16px;
    }
}

