*{
    box-sizing: border-box;
    margin: 0;
    padding : 0;
    list-style: none;
}
a, a:hover, a:active, a:visited{
    text-decoration: none;
    color: black;

}

body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    padding : 24px 0;
}

h2{
    padding : 18px 0;
}

h3{
    padding : 12px 0;
}

nav{
    background-color: rgb(231, 231, 231);
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    padding : 20px 25px;
}

footer{
    background-color: rgb(231, 231, 231);
    text-align: center;
    padding: 20px 25px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.champInput{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;

}

div.affichageDanger{
    padding: 15px;
    background-color: rgb(255, 210, 210);
    color: rgb(101, 6, 6);
    margin: 10px 0;
    width: fit-content;
    border-radius: 8px;
}


div.reussiteInscription{
    padding: 15px;
    background-color: rgb(215, 255, 210);
    color: rgb(8, 101, 6);
    margin: 10px 0;
    width: fit-content;
    border-radius: 8px;
}

.deroulant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sous{
    display: flex;
    flex-direction: column;
    gap:4px;
}

a.espacemembre{
    padding: 12px;
    border: 1px black solid;
    border-radius: 12px;
    margin: 5px;
    width: fit-content;
    background-color: white;
}

.logo a{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;

}

